#haut {
text-align: center;
}

#haut {
background-image: url("http://www.crystalxp.net/_design/img/v2/baniere-fond.jpg");
height: 210px;
background-repeat: no-repeat;
margin-left: 10%;
}

html{
background-color: #F2F1F0;

}


#jsddm
{	margin: 0;
	padding: 0}
	
	#jsddm li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial}

	#jsddm li a
	{	display: block;
		background: #20548E;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 70px;
		color: #EAFFED;
		white-space: nowrap}

	#jsddm li a:hover
	{	background: #1A4473}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white}
		
		#jsddm li ul li
		{	float: none;
			display: inline}
		
		#jsddm li ul li a
		{	width: auto;
			background: #9F1B1B}
		
		#jsddm li ul li a:hover
		{	background: #7F1616}


.slideshow {
   width: 550px;
   height: 200px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
    margin-left:18%;
}

.slideshow ul {
   width: 500%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
   

.slideshow li {
   float: left;
}

/* fin du slideshow*/

#bas{
margin-top: 70px;
height: 60px;
background-color: #F0FFFF;
color:red;
}
